@tailwind base;
@tailwind components;
@tailwind utilities;

/*body {
    overflow: hidden;
}*/

@media (max-width: 768px) {
    .flex-1-mobile {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 60px); /* Adjust as necessary */
    }
}

.user-list {
    cursor: pointer;
}

.c-pointer {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4F4F55;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}